[package]
name = "rust"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
godot = { version = "0.4.3", features = ["api-4-5"] }

[build-dependencies]
vergen = { version = "9.0.6", features = ["build","cargo"]}
